<h2 mat-dialog-title>Sign Up </h2>
<div mat-dialog-content>
   <form [formGroup]="signupForm">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="Name" matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="Gender"   placeholder="Gender">
             <mat-option value="Male">Male</mat-option>
             <mat-option value="Female">Female</mat-option>
             <mat-option value="Transgender">Transgender</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input formControlName="DateOfBirth"  matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input formControlName="City"  matInput placeholder="Placeholder">
      </mat-form-field>
   </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warned" mat-dialog-close>Cancel</button>
    <button style="margin-left: 2%" mat-flat-button color="primary" (click)="signupUser()">Submit</button>

</div>