<p><mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Demo</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <button mat-button color="primary" (click)="openDialog()">Sign Up/In</button>
</mat-toolbar>
</p>

<div>Hello this is live on bizzcle server</div>
